<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio Page</title>
    <meta name="description" content="This is a portfolio page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">
    <script src="js/JQuery.js"></script>
    <script src="js/script.js" async defer></script>
    <script src="https://kit.fontawesome.com/63037a78cc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <div class="navItem navActive" id="navItem1">Home</div>
      <div class="navItem" id="navItem2">About Me</div>
      <div class="navItem" id="navItem3">Projects</div>
      <div class="navItem" id="navItem4">Resume</div>
    </nav>