<%- include('./partials/header.ejs')%>

<div id="container">
  <main>
    <div id="topBlock">
      <h1 id="fullName"><%= error.status%> Error</h3> 
      <p><%=error.message%></p>
    </div>
    
  </main>

<%- include('./partials/footer.ejs')%>