<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Riley Halbert's Resume</title>
    <meta name="description" content="Riley Halbert's resume">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/63037a78cc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <a href="/"><div class="navItem" id="navItem1">Go Back</div></a>
    </nav>
    <main>
      <iframe src="https://docs.google.com/gview?url=https://rileyhalbert.com/docs/resume.pdf&embedded=true" id="pdf" frameborder="0"></iframe>
    </main>
    <div id="container">
      <footer>
        <div id="links">
          <a href="https://www.linkedin.com/in/halbertriley/" target="_blank" id="linkedin"><i class="fab fa-linkedin fa-3x"></i></a>
          <a href="mailto:halbertriley@outlook.com" id="mail"><i class="fas fa-envelope fa-3x"></i></a>
          <a href="https://github.com/RileyHal" target="_blank" id="github"><i class="fab fa-github-square fa-3x"></i></a>
        </div>
      </footer>
    </div>
  </body>
</html>